.visor {
  position: relative;
  min-width: 200px;
  height: 300px;
  border: solid 1px black;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.visor p {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1s forwards;
}

.visor article {
  margin-top: 5px;
  width: 90%;
  align-self: flex-end;
  animation: load 1.5s 0.5s ease-in forwards;
  opacity: 0;
}

.visor article:nth-child(2) {
  background: rgb(0, 21, 255);
  height: 75%;
}

.visor article:nth-child(3) {
  background: rgb(0, 213, 255);
  height: 85%;
}

.visor article:last-child {
  background: rgb(51, 236, 30);
  height: 65%;
}

.visor article p:first-child {
  animation-delay: 1s;
}

.visor article p:last-child {
  animation-delay: 1.5s;
}

.rankingTitle {
  position: absolute;
  width: 100%;
  top: 5px;
  left: 50%;
  padding: 8px;
  transform: translateX(-50%);
  font-size: 24px;
  color: #333;
  background: rgba(161, 160, 160, 0.534);
  transition: opacity 0.1s;
}

@keyframes load {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visor article p:first-child {
  position: relative;
  align-content: center;
  bottom: 8px;
  right: 8px;
  width: 50px;
  height: 50px;
  background-color: #fbf720; /* Color de fondo */
  border-radius: 50%; /* Hacerlo circular */
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  transform-origin: center;
  box-shadow: 1px 1px 2px 1.5px rgb(58, 56, 56);
  animation: asd 1.5s ease forwards 2s;
}

@keyframes asd {
  from {
    opacity: 0;
    transform: scale(0); /* Comienza desde el centro */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
